@using PRIME_UCR.Components.Controls
@using BlazorTable
@using PRIME_UCR.Domain.Models.UserAdministration;

<Loading IsLoading="ListPermissions == null">

    <Table TableItem="Permiso" Items="ListPermissions" PageSize="12" >
        <Column TableItem="Permiso" Title="" Field="@(x => x.IDPermiso)"  Width="1%">
            <Template>
                <center>
                    <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" id="customCheck @context.IDPermiso" checked>
                            <label class="custom-control-label" for="customCheck @context.IDPermiso"></label>
                    </div>
                </center>
            </Template>
        </Column>

        <Column TableItem="Permiso" Title="Número de permiso" Field="@(x => x.IDPermiso)"  Width="14%"  />
        <Column TableItem="Permiso" Title="Descripción de permiso" Field="@(x => x.DescripciónPermiso)" Width="35%"/>
       
        <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" />
    </Table>

</Loading>