@using PRIME_UCR.Components.Controls
@using BlazorTable
@using PRIME_UCR.Domain.Models.UserAdministration;

<Loading IsLoading="ListUsers == null">

    <Table TableItem="Usuario" Items="ListUsers" PageSize="12">
        <Column TableItem="Usuario" Title="" Field="@(x => x.CedPersona)" Width="1%">
            <Template>
                <center>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck @context.CedPersona" checked="@check(context.CedPersona)">
                        <label class="custom-control-label" for="customCheck @context.CedPersona"></label>
                    </div>
                </center>
            </Template>
        </Column>

        <Column TableItem="Usuario" Title="Nombre de usuario" Field="@(x => x.UserName)" Width="25%" />
        <Column TableItem="Usuario" Title="Número de cédula" Field="@(x => x.CedPersona)" Width="24%" />

        <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" />
    </Table>

</Loading>