@using PRIME_UCR.Domain.Models.UserAdministration
@using PRIME_UCR.Application.Services.UserAdministration

<h3> Información general del incidente</h3>
<br />
@if (!DetailsModel.Completed)
{
    <StatusMessage Message="Hay valores pendientes para finalizar la creación del incidente." Class="warning" />
}
<ul class="list-group">
    <ListItem Title="Identificador" Text="@DetailsModel.Code"/>
    <ListItem Title="Estado" Text="@DetailsModel.CurrentState" />
    <ListItem Title="Modalidad" Text="@DetailsModel.Mode" />
    <ListItem Title="Fecha estimada del traslado"
              Text="@($"{DetailsModel.EstimatedDateOfTransfer.ToShortDateString()} - {DetailsModel.EstimatedDateOfTransfer.ToShortTimeString()}")" />
    <ListItem Title="Fecha de registro"
              Text="@($"{DetailsModel.RegistrationDate.ToShortDateString()} - {DetailsModel.RegistrationDate.ToShortTimeString()}")" />
    <ListItem Title="Creado por"
              Text="@_register" />
</ul>
