@using PRIME_UCR.Domain.Models.UserAdministration
@using PRIME_UCR.Application.Services.UserAdministration
@using PRIME_UCR.Domain.Constants
@using PRIME_UCR.Components.Incidents.StatePanel 

<h3> Información general del incidente</h3>
<br />
@if (DetailsModel.CurrentState == IncidentStates.Approved.Nombre)
{
<StatusMessage Message="@($"Aprobado por {DetailsModel.Reviewer.NombreCompleto}")" Class="primary" />
 }
else if (DetailsModel.CurrentState == IncidentStates.Rejected.Nombre)
{
<StatusMessage Message="@($"Rechazado por {DetailsModel.Reviewer.NombreCompleto}")" Class="danger" />
}
<Loading IsLoading="@_isLoading">
    <ul class="list-group">
        <ListItem Title="Identificador" Text="@DetailsModel.Code" />
        <ListItem Title="Estado" Text="@DetailsModel.CurrentState" />
        <ListItem Title="Modalidad" Text="@DetailsModel.Mode" />
        <ListItem Title="Fecha estimada del traslado"
                  Text="@($"{DetailsModel.EstimatedDateOfTransfer.ToShortDateString()} - {DetailsModel.EstimatedDateOfTransfer.ToShortTimeString()}")" />
        <ListItem Title="Fecha de registro"
                  Text="@($"{DetailsModel.RegistrationDate.ToShortDateString()} - {DetailsModel.RegistrationDate.ToShortTimeString()}")" />
        <ListItem Title="Creado por"
                  Text="@(_creator?.NombreCompleto)" />
    </ul>
    <br />
    <br />
    <PermissionAuthorizeView Permission="@AuthorizationPermissions.CanReviewIncidents" ShowDeniedPermissionMessage=false>
        <div class="container">
            <StatePanel Incident="@DetailsModel" OnSave="@OnSave" CurrentUser="@CurrentUser" LastChange="@LastChange" />
        </div>
    </PermissionAuthorizeView>
</Loading>
