@using PRIME_UCR.Components.Controls
@using PRIME_UCR.Components.Incidents.LocationPickers
@using Microsoft.AspNetCore.Connections

<h3>Origen del incidente</h3>
<br />
@if (Origin == null)
{
    <StatusMessage Message="Este valor está pendiente para finalizar la creación del incidente." Class="warning"/>
}
<StatusMessage Message="@_statusMessage" Class="success"/>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="_selectedOriginType">
            <DropDownMenu Data="@_dropdownValuesOrigin" Label="Tipo de origen" TextProperty="Item2"
                          Value="_selectedOriginType"
                          ValueChanged="@((Tuple<OriginType, string> o) => OnOriginTypeChange(o))"
                          ValueExpression="() => _selectedOriginType"
                          UseValidation="false"/>
        </EditForm>
    </div>
</div>
<Loading IsLoading="@_isLoading">
    @if (_selectedOriginType.Item1 == OriginType.Household)
    {
        <HouseholdPicker Value="@_householdModel"
                         OnSave="OnHouseholdSave"
                         OnDiscard="LoadExistingValues"
                         IsFirst="@(!(Origin is Domicilio))"/>
    }
    else if (_selectedOriginType.Item1 == OriginType.International)
    {
        <InternationalPicker Value="_internationalModel"
                OnSave="@OnInternationalSave"
                OnDiscard="LoadExistingValues"
                IsFirst="@(!(Origin is Internacional))" />
    }
    else //hospital
    { 
        <MedicalCenterPicker Value="_medicalCenterModel"
                             IsOrigin="@true"
                             OnSave="@OnMedicalCenterSave"
                             OnDiscard="LoadExistingValues"
                             IsFirst="@(!(Origin is CentroUbicacion))"/>
    }
</Loading>
