@using PRIME_UCR.Components.Incidents.IncidentDetails.Tabs
@using PRIME_UCR.Application.DTOs.UserAdministration

<div class="container">
    @if (Active == DetailsTab.Info)
    {
        <InfoTab DetailsModel="@Incident" OnSave="@Save"/>
    }
    else if (Active == DetailsTab.Origin)
    {
        <OriginTab Incident="@Incident" OnSave="@SaveOrigin"/>
    }
    else if (Active == DetailsTab.Destination)
    {
        <DestinationTab Incident="@Incident" OnSave="@SaveDestination"/>
    }
    else if (Active == DetailsTab.Patient)
    {
        <PatientTab Incident="@Incident" OnSave="@SavePatient"/>
    }
    else if (Active == DetailsTab.Multimedia)
    {
        <MultimediaTab Incident="@Incident"/>
    }
    else if (Active == DetailsTab.Assignment)
    {
        <Assignment Incident="@Incident" />
    }
    else
    {
        <h4 class="text-danger">Not found</h4>
    }
</div>
