@using PRIME_UCR.Components.Incidents.IncidentDetails.Tabs

<div class="container">
    @if (Active == DetailsTab.Info)
    {
        <InfoTab DetailsModel="@Incident"/>
    }
    else if (Active == DetailsTab.Origin)
    {
        <OriginTab Origin="@Incident.Origin" OnSave="@SaveOrigin"/>
    }
    else if (Active == DetailsTab.Destination)
    {
        <DestinationTab Destination="@Incident.Destination" OnSave="@SaveDestination"/>
    }
    else if (Active == DetailsTab.Patient)
    {
        <PatientTab Incident="@Incident" OnSave="@SavePatient" />
    }
    else if (Active == DetailsTab.Multimedia)
    {
        <MultimediaTab Incident="@Incident"/>
    }
    else
    {
        <h4 class="text-danger">Not found</h4>
    }
</div>
