@inherits CreateChecklistPopupBase

<Modal @bind-Open="IsModalOpened" Close="OnClose">
    <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <h4 align="center"> Crear lista de chequeo </h4>
        <p align ="left">
            <label for="name">Nombre:<span style=" color:red">*&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
            <InputText id="name" @bind-Value="checkList.Nombre" style ="width: 252px; height : 25px"  />
            <ValidationMessage For="@(() => checkList.Nombre)" />
        </p>

        <p align="left">
                <label for="description">Descripción: </label>
                <InputTextArea id="description" @bind-Value="checkList.Descripcion" style ="width: 250px; height : 50px" />
        </p>

        <p align ="left">
            <label for="type">Tipo:<span style=" color:red">*&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
            <InputSelect id="type" @bind-Value="checkList.Tipo" style ="width: 248px; height : 25px" >
                <option value="" selected="selected" disabled>Seleccione el tipo</option>
                <option value="Colocación equipo">Colocación equipo</option>
                <option value="Retiro equipo">Retiro equipo</option>
                <option value="Paciente en origen">Paciente en origen</option>
                <option value="Paciente en destino">Paciente en destino</option>
                <option value="Paciente en traslado">Paciente en traslado</option>
            </InputSelect>
            <ValidationMessage For="@(() => checkList.Tipo)" />
        </p>

        <p align ="left">
            <label for="order">Orden: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <InputNumber id="order" @bind-Value="checkList.Orden" style ="width: 248px; height : 25px" />
        </p>

        <p style="color:red">* Campo requerido</p>
        <menu align ="center">
            <button type="submit" class="btn btn-primary" disabled="@formInvalid">Guardar Lista</button>
            <button type="button" class="btn btn-secondary" @onclick="e => IsModalOpened = false">Cancelar</button>
        </menu>

    </EditForm>
</Modal>