@inject NavigationManager MyNavegationManager

<div class="@NavMenuCssClass text-white" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@GetUrl()">
                <span class="@classOfModule" aria-hidden="true"></span> @moduleToShow
            </NavLink>
            <div>
                @switch (moduleToShow)
                {
                    case "Dashboard":
                        <DashboardMenuComponent/>
                        break;
                    case "Expedientes":
                        <MedicalRecordsMenuComponent />
                        break;
                    case "Administración de usuarios":
                        <UserAdministrationMenuComponent/>
                        break;
                    case "Listas de chequeo":
                        break;
                    case "Traslados":
                        break;
                    default:
                        break;
                }


            </div>
        </li>
        <li class="nav-item px-3 @showIncidents">
            <NavLink class="nav-link" href="incidents" Match="NavLinkMatch.All" @onclick="showIncidentsMenu">
                <span class="oi oi-map" aria-hidden="true"></span> Traslados
            </NavLink>
        </li>
        <li class="nav-item px-3 @showCheckList">
            <NavLink class="nav-link" href="checklist" Match="NavLinkMatch.All" @onclick="showCheckListMenu">
                <span class="oi oi-list" aria-hidden="true"></span> Listas de chequeo
            </NavLink>
        </li>
        <li class="nav-item px-3 @showMedicalRecords">
            <NavLink class="nav-link" href="show-medical-record" Match="NavLinkMatch.All" @onclick="showMedicalRecordsMenu"> <!-- Esta oculto por ahora. Quitar clase hide para mostrar -->
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Expedientes
            </NavLink>
        </li>
        <li class="nav-item px-3 @showDashboard">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All" @onclick="showDashboardMenu">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3 @showUserAdmin">
            <NavLink class="nav-link" href="user_administration/profiles" Match="NavLinkMatch.All" @onclick="showUserAdminMenu">
                <span class="oi oi-book" aria-hidden="true"></span> Administración de usuarios
            </NavLink>
        </li>
    </ul>
</div>