@inject NavigationManager MyNavegationManager

<div class="@NavMenuCssClass text-white" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@MyNavegationManager.ToBaseRelativePath(MyNavegationManager.Uri)">
                <span class="@classOfModule" aria-hidden="true"></span> @moduleToShow
            </NavLink>
            <div>
                @switch (moduleToShow)
                {
                    case "Dashboard":
                        <DashboardMenuComponent />
                        break;
                    case "Expedientes":
                        break;
                    case "Administración de usuarios y perfiles":
                        break;
                    case "Plantillas de listas de chequeo":
                        break;
                    case "Administración de incidentes de traslado":
                        break;
                    default:
                        break;
                }


            </div>
        </li>
        <li class="nav-item px-3 @showIncidents">
            <NavLink class="nav-link" href="medical_records" Match="NavLinkMatch.All" @onclick="showIncidentsMenu">
                <span class="oi oi-map" aria-hidden="true"></span> Administración de incidentes de traslado
            </NavLink>
        </li>
        <li class="nav-item px-3 @showCheckList">
            <NavLink class="nav-link" href="ckecking_list" Match="NavLinkMatch.All" @onclick="showCheckListMenu">
                <span class="oi oi-list" aria-hidden="true"></span> Plantillas de listas de chequeo
            </NavLink>
        </li>
        <li class="nav-item px-3 @showMedicalRecords">
            <NavLink class="nav-link" href="incidents" Match="NavLinkMatch.All" @onclick="showMedicalRecordsMenu">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Expedientes
            </NavLink>
        </li>
        <li class="nav-item px-3 @showDashboard">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All" @onclick="showDashboardMenu">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3 @showUserAdmin">
            <NavLink class="nav-link" href="user_administration" Match="NavLinkMatch.All" @onclick="showUserAdminMenu">
                <span class="oi oi-book" aria-hidden="true"></span> Administración de usuarios y perfiles
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="checklist">
                <span class="oi oi-list" aria-hidden="true"></span> Listas de Chequeo
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string moduleToShow = "PRIME@UCR";

    private string classOfModule = "oi oi-home";

    private string showDashboard = "show";

    private string showMedicalRecords = "show";

    private string showIncidents = "show";

    private string showUserAdmin = "show";

    private string showCheckList = "show";

    protected override void OnInitialized()
    {
        string uri = MyNavegationManager.ToBaseRelativePath(MyNavegationManager.Uri);

        if (uri != "")
        {
            uri = uri.Split('/').First();
            if (uri == "dashboard")
            {
                showDashboardMenu();
            }
            else if (uri == "incidents")
            {
                showIncidentsMenu();
            }
            else if (uri == "user_administration")
            {
                showUserAdminMenu();
            }
            else if (uri == "medical_records")
            {
                showMedicalRecordsMenu();
            }
            else if (uri == "check_list")
            {
                showCheckListMenu();
            }
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void showIncidentsMenu()
    {
        moduleToShow = "Administración de incidentes de traslado";
        showIncidents = "hide";
        showMedicalRecords = showUserAdmin = showCheckList = showDashboard = "show";
        classOfModule = "oi oi-map";
    }

    private void showCheckListMenu()
    {
        moduleToShow = "Plantillas de listas de chequeo";
        showCheckList = "hide";
        showMedicalRecords = showUserAdmin = showIncidents = showDashboard = "show";
        classOfModule = "oi oi-list";
    }

    private void showMedicalRecordsMenu()
    {
        moduleToShow = "Expedientes";
        showMedicalRecords = "hide";
        showCheckList = showUserAdmin = showIncidents = showDashboard = "show";
        classOfModule = "oi oi-list";
    }

    private void showDashboardMenu()
    {
        moduleToShow = "Dashboard";
        showDashboard = "hide";
        showCheckList = showUserAdmin = showIncidents = showMedicalRecords = "show";
        classOfModule = "oi oi-dashboard";
    }

    private void showUserAdminMenu()
    {
        moduleToShow = "Administración de usuarios y perfiles";
        showUserAdmin = "hide";
        showCheckList = showDashboard = showIncidents = showMedicalRecords = "show";
        classOfModule = "oi oi-book";
    }
}