@inject NavigationManager MyNavegationManager

<div class="@NavMenuCssClass text-white" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="@MyNavegationManager.ToBaseRelativePath(MyNavegationManager.Uri)">
                <span class="@classOfModule" aria-hidden="true"></span> @moduleToShow
            </NavLink>
            <div>
                @switch (moduleToShow)
                {
                    case "Dashboard":
                        <DashboardMenuComponent />
                        break;
                    case "Expedientes":
                        break;
                    case "Administración de usuarios y perfiles":
                        break;
                    case "Plantillas de listas de chequeo":
                        break;
                    case "Administración de incidentes de traslado":
                        break;
                    default:
                        break;
                }


            </div>
        </li>
        <li class="nav-item px-3 @showIncidents">
            <NavLink class="nav-link" href="medical_records" Match="NavLinkMatch.All" @onclick="showIncidentsMenu">
                <span class="oi oi-map" aria-hidden="true"></span> Administración de incidentes de traslado
            </NavLink>
        </li>
        <li class="nav-item px-3 @showCheckList">
            <NavLink class="nav-link" href="ckecking_list" Match="NavLinkMatch.All" @onclick="showCheckListMenu">
                <span class="oi oi-list" aria-hidden="true"></span> Plantillas de listas de chequeo
            </NavLink>
        </li>
        <li class="nav-item px-3 @showMedicalRecords">
            <NavLink class="nav-link" href="incidents" Match="NavLinkMatch.All" @onclick="showMedicalRecordsMenu">
                <span class="oi oi-medical-cross" aria-hidden="true"></span> Expedientes
            </NavLink>
        </li>
        <li class="nav-item px-3 @showDashboard">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All" @onclick="showDashboardMenu">
                <span class="oi oi-dashboard" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3 @showUserAdmin">
            <NavLink class="nav-link" href="user_administration" Match="NavLinkMatch.All" @onclick="showUserAdminMenu">
                <span class="oi oi-book" aria-hidden="true"></span> Administración de usuarios y perfiles
            </NavLink>
        </li>
        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="test-page" Match="NavLinkMatch.All">
                <span class="oi oi-cog" aria-hidden="true"></span> Prueba
            </NavLink>
        </li>*@
    </ul>
</div>