@inherits InputBase<DateTime>

<div class="form-group">
    <label>@DateLabel</label>
    <input type="date" value="@Value.ToString("yyyy-MM-dd")"
               class="@($"form-control {ValidationCssClass}")"
               @onchange="OnDateChanged"
               min="@(DateTime.Today.ToString("yyyy-MM-dd"))" />
    
    <div class="invalid-feedback">
        <ValidationMessage For="() => Value"></ValidationMessage>
    </div>
</div>

<div class="form-group">
    <label>@TimeLabel</label>
    <input type="time" class="@($"form-control {ValidationCssClass}")"
           value="@_time"
           @oninput="(e => OnTimeChanged(e))"/>
    
    <div class="invalid-feedback">
        <ValidationMessage For="@(() => Value)"></ValidationMessage>
    </div>
</div>
