@typeparam T

<div class="form-group">
    <label>@Label</label>
    <select @onchange="OnChangeEvent" class="custom-select">
        @foreach (var value in Data.Select((v, i) => new { v, i }))
        {
            @if (value.i == _index)
            {
                @if (TextExpression != null && TextProperty != null)
                {
                    throw new System.InvalidOperationException("Only select one option of: TextProperty or TextExpression ");

                }
                else if (TextExpression != null)
                {
                    <option selected value="@value.v">@(TextExpression(Data[value.i]))</option>            
                }
                else if (TextProperty != null)
                {
                    <option selected value="@value.i">@GetText(value.v)</option>
                }
                else
                {
                    throw new System.InvalidOperationException("There must be an option: TextProperty or TextExpression");
                }
            }
            else
            {
                <option value="@value.i">@GetText(value.v)</option>
            }
        }
    </select>
</div>