@page "/incidents/ListaIncidentes"
@using BlazorTable
@attribute [Authorize]

<h3>Lista de Incidentes</h3>

<Loading IsLoading="incidentsList == null">
    <Table TableItem="Incidente" Items="incidentsList" PageSize="15" @ref="Table" ColumnReorder="true">
        <Column TableItem="Incidente" Title="Código" Field="@(x => x.Codigo)" Sortable="true" Filterable="true" Width="20%" DefaultSortColumn="true" />
        @*<Column TableItem="Incidente" Title="Cédula Paciente" Field="@(x => x.Ced)" Sortable="true" Filterable="true" Width="20%" />*@
        @*<Column TableItem="Incidente" Title="Nombre Paciente" Field="@(x => x.Nombre)" Sortable="true" Filterable="true" Width="20%" />*@
        <Column TableItem="Incidente" Title="Fecha Registro" Field="@(x => x.FechaHoraRegistro.Date)" Sortable="true" Filterable="true" Width="20%" />
        <Column TableItem="Incidente" Title="Hora Registro" Field="@(x => x.FechaHoraRegistro.TimeOfDay)" Sortable="true" Filterable="true" Width="20%" />

        <EmptyDataTemplate>
            <div class="text-center">
                No se encontraron incidentes registrados.
            </div>
        </EmptyDataTemplate>
        <Pager ShowPageNumber="true" ShowTotalCount="true" />

    </Table>
</Loading>
    <MatFAB Icon="@MatIconNames.Add" Class="app-fab--absolute" OnClick="@(_ => Redirect())"></MatFAB>


