@page "/checklist"
@inherits CheckListPageBase
@using PRIME_UCR.Application.DTOs.UserAdministration;
@using PRIME_UCR.Application.Implementations.UserAdministration;
@attribute [HasPolicy(AuthorizationPolicies.CanCreateCheckList)]
<link href="css/Checklist.css" rel="stylesheet" />

<h3> Plantillas de listas de chequeo </h3>
<hr />
<div>
    @if (lists == null)
    {
<p><em class="nav-link">Cargando listas de chequeo.</em></p> }
else
{
if (lists.Count() == 0)
{
<p><em class="nav-link">No se ha creado ninguna lista, presione el boton + para crear una.</em></p> }
else
{
<table class="table" id="Table_CL">
    @* Contains the list of existing checklists *@
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tempList in lists)
        {
<tr class="nav-item px-3" style="transform: rotate(0);">
    @* Navigation link for each checklist *@
    <th scope="row"><a href='@string.Format("checklist/{0}", @tempList.Id)' class="stretched-link">@tempList.Nombre</a></th>
    <td>@tempList.Tipo</td>
    <td>@tempList.Descripcion</td>
</tr>}
    </tbody>
</table> }}
</div>


@* Floating button to create a new checklist *@
<MatThemeProvider Theme="@AddButtonTheme">
    <MatFAB Icon="@MatIconNames.Add" Class="app-fab--absolute" OnClick="@(_ => Redirect())" data-toggle="tooltip" title="Crear Lista de chequeo"></MatFAB>
</MatThemeProvider>