@page "/checklist"
@inherits CheckListPageBase
@* @layout CheckListLayout *@
@* @attribute [Authorize(Roles = "coordinador tecnico medico")] *@
@* @attribute [Authorize(Policy = "check-list")] *@
@attribute [Authorize]

<h1> Plantillas de listas de chequeo </h1>
<div>
    @if (lists == null)
    {
     <p><em class="nav-link">No se ha creado ninguna lista, presione el boton Crear Lista de Chequeo para crear una.</em></p>
    } else
    {
        if (lists.Count() == 0)
        {
            <p><em class="nav-link">No se ha creado ninguna lista, presione el boton Crear Lista de Chequeo para crear una.</em></p>
        }
        else { 
            <table class="table" id="Table_CL">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tempList in lists)
                    {
                        <tr class="nav-item px-3" style="transform: rotate(0);">
                            <th scope="row"><a href='@string.Format("checklist/{0}", @tempList.Id)' class="stretched-link">@tempList.Nombre</a></th>
                                <td>@tempList.Tipo</td>
                                <td>@tempList.Descripcion</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>