@page "/checklist"
@inherits CheckListPageBase
@layout CheckListLayout
@* @attribute [Authorize(Roles = "coordinador tecnico medico")] *@
@* @attribute [Authorize(Policy = "check-list")] *@

@if (lists == null)
{
    <h3 align="center"> Listas de Chequeo </h3>
    <p><em class="nav-link">No se han creado ninguna lista, presione el boton Crear Lista de Chequeo para crear una.</em></p>
} else
  {
    if (lists.Count() == 0)
    {
        <p><em class="nav-link">No se han creado ninguna lista, presione el boton Crear Lista de Chequeo para crear una.</em></p>
    }
}
<button class="btn btn-primary" @onclick="e => IsModalOpened = true">Crear lista de chequeo</button>

<Modal @bind-Open="IsModalOpened" Close="OnClose">
    <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />

        <p>
            <label for="name">Nombre plantilla <span style=" color:red">*</span></label>
            <InputText id="name" @bind-Value="checkList.Nombre" />
            <ValidationMessage For="@(() => checkList.Nombre)" />
        </p>

        <p>
            <label for="description">Descripción</label>
            <InputTextArea id="description" @bind-Value="checkList.Descripcion" />
        </p>

        <p>
            <label for="type">Tipo <span style=" color:red">*</span></label>
            <InputText id="type" @bind-Value="checkList.Tipo" />
            <ValidationMessage For="@(() => checkList.Tipo)" />
        </p>

        <p>
            <label for="order">Orden</label>
            <InputNumber id="order" @bind-Value="checkList.Orden" />
        </p>

        <p style="color:red">* campo requerido</p>
        <menu>
            <button type="submit" class="btn btn-primary" disabled="@formInvalid">Guardar cambios</button>
            <button type="button" class="btn btn-secondary" @onclick="e => IsModalOpened = false">Cancelar</button>
        </menu>

    </EditForm>
</Modal>