@page "/checklist/{id:int}"
@inherits SingleCheckListBase
@using PRIME_UCR.Application.DTOs.UserAdministration;
@using PRIME_UCR.Application.Implementations.UserAdministration;
@attribute [HasPermission(AuthorizationPermissions.CanCreateCheckList)]
<link href="css/Checklist.css" rel="stylesheet" />

<h3>Plantillas de listas de chequeo</h3>
<hr />
@if (list == null)
{
    <p><em>Cargando lista de chequeo.</em></p> }
else
{
    <div class="row">
        <CheckListMenu Lists="lists"/>
        <div class="col">
            @* Contains editable information about this checklist *@
            <div class="container" id="contAll_LC" style="background: white;">
                <h5>Definición de una plantilla de lista de chequeo</h5>
                <div id="def_LC">
                    <p>
                        <div class="input-group row">
                            <label for="checklistName" class="col-sm-2 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                @* Editable input for the name of the checklist *@
                                <input class="form-control" type="text" id="checklistName" name="checklistName" @bind-value="list.Nombre" @onfocusout="Update" />
                            </div>
                            <div class="col-sm-1">
                                @* Displys the image of the checklist *@
                                <button type="button" class="none" data-toggle="dropdown" id="BN_LC">
                                    <img src="@list.ImagenDescriptiva" width="50" height="50" data-toggle="tooltip" title="Cambiar imagen" />
                                </button>
                                @* Drop zone for the image of the checklist, displyed in a dropdown menu for the checklist image *@
                                <ul class="dropdown-menu customLoadImage" role="menu">
                                    <li><LoadImageComponent @bind-list="list" update="update" /></li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="input-group row">
                            @* Editable input for the description of the checklist *@
                            <label for="checklistDescription" class="col-sm-2 col-form-label"><span style="color:black">Descripción </span></label>
                            <div class="col-sm-10">
                                <textarea class="form-control" type="text" id="checklistDescription" name="checklistDescription" rows="2" @bind="list.Descripcion" @onfocusout="Update" />
                            </div>
                        </div>
                        <br />
                        <div class="input-group row">
                            @* Editable input for the type of the checklist with predefined options *@
                            <label for="checklistType" class="col-sm-2 col-form-label"><span style="color:black">Tipo </span></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="checklistType" @bind="list.Tipo" @onfocusout="Update">
                                    <option value="Colocación equipo">Colocación equipo</option>
                                    <option value="Retiro equipo">Retiro equipo</option>
                                    <option value="Paciente en origen">Paciente en origen</option>
                                    <option value="Paciente en destino">Paciente en destino</option>
                                    <option value="Paciente en traslado">Paciente en traslado</option>
                                </select>
                            </div>
                            @* Editable input for the order of the checklist with a recommended value *@
                            <label for="checklistOrder" class="col-sm-1 col-form-label"><span style="color:black">Orden </span></label>
                            <div class="col-sm-2">
                                <input class="form-control" type="number" id="checklistOrder" name="checklistOrder" @bind-value="list.Orden" @onfocusout="Update" />
                            </div>
                            @* Read only display for the checklist id *@
                            <label for="checklistId" class="col-sm-1 col-form-label"><span style="color:black">Id </span></label>
                            <span class="col-sm-2">
                                <input class="form-control" type="number" id="checklistId" name="checklistId" disabled="disabled" @bind-value="@list.Id" />
                            </span>
                        </div>


                    </p>
                </div>
                <br />
                <br />
                <h5> Items de la plantilla de lista de chequeo</h5>
                <div id="Body_LC">
                    @if (items == null)
                    {
                        <p>Cargando items.</p> }
                    else
                    {
                        if (items.Count() == 0)
                        {
                            <p>No se ha creado ningún item para esta lista de chequeo. Presione el botón de crear item para agregarle un item.</p> }
                        else
                        {
                            <table class="table table-hover">
                                @* Contains information about every item in this checklist *@
                                <thead>
                                </thead>
                                <tbody>
                                   @for (int itemIndex = 0; itemIndex < orderedList.Count(); itemIndex++)
                                    {

                                        PRIME_UCR.Domain.Models.CheckLists.Item itemInList = orderedList[itemIndex];
                                        string style = orderedListLevel[itemIndex] * 2.5 + "em";


                                <tr>
                                    <td class="align-middle" style="padding-left: @style;">
                                        @* Displys the image of the item *@

                                        <div style="min-width: 110px;">
                                            ⁞⁞
                                            <button type="button" class="none" data-toggle="dropdown" id="BN_LC">

                                                <img src="@itemInList.ImagenDescriptiva" width="50" height="50" data-toggle="tooltip" title="Cambiar imagen" />
                                            </button>

                                            @* Drop zone for the image of the item, displyed in a dropdown menu for the item image *@
                                            <ul class="dropdown-menu customLoadImage" role="menu">
                                                <li><LoadImageComponent @bind-item="itemsList[getItemIndex(itemInList)]" update="update" /></li>
                                            </ul>
                                        </div>

                                    </td>

                                    <th scope="row" class="align-middle" style="padding-left: @style;"> @itemInList.Nombre</th>
                                    <td class="align-middle" style="padding-left: @style;"> @itemInList.Descripcion </td>
                                    <td class="align-middle">
                                        @* Drop down button to show additional options *@
                                        <button type="button" class="btn btn-default " data-toggle="dropdown">
                                            ⋮<span class="caret"></span>
                                            <span class="sr-only">Desplegar menú</span>
                                        </button>
                                        @* Button to create a new sub item *@
                                        <ul class="dropdown-menu" role="menu">
                                            <li><button class="dropdown-item" @onclick="() => CreateSubItem(itemInList.Id)">Agregar Subítem</button></li>
                                            <li><button class="dropdown-item" @onclick="() => EditItem(itemInList.Id)">Editar ítem</button></li>
                                        </ul>
                                    </td>
                                </tr>
                               @if (createSubItem == true && parentItemId == itemInList.Id)                      {
                                <tr>
                                    <td colspan="3">
                                        <CreateItem @bind-item="tempItem" creating="createSubItem" OnCreatingChanged="creatingFinished">Crear SubItem</CreateItem>
                                    </td>
                                </tr>}
                               @if (editItem == true && parentItemId == itemInList.Id) { 
                                    <tr>
                                        <td colspan="3">
                                            <EditItem @bind-item="tempItem" editing="editItem" OnEditingChanged="editingFinished">Editar Item</EditItem>
                                        </td>
                                    </tr>}}
                                </tbody>
                            </table>}

                    }
                    <hr />
                    @if (createItem == false)
                    {@* Button to create a new item *@
                    <button class="btn btn-primary" @onclick="StartNewItemCreation" id="BP_LC6">+</button><a>Crear ítem</a> }
                else
                {
                    <CreateItem @bind-item="tempItem" creating="createItem" OnCreatingChanged="creatingFinished">Crear Item</CreateItem>
                }
                </div>
            </div>
        </div>
    </div>
    <br />
}