@page "/checklist/{id:int}"
@inherits SingleCheckListBase
@* @layout CheckListLayout *@
@attribute [Authorize]

<h1 >Plantillas de listas de chequeo</h1>
<hr />
@if (list == null)
{
    <p><em>Cargando lista de chequeo.</em></p>
}
else
{
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="container">
                <h6>Listas de chequeo Existentes</h6> @* Mejorar diseño de interfaz*@
                <div>
                    <ul class="ml-4" type="square">
                        @*ver lisatas de chequeo ya creadas*@
                        @if (lists != null && lists.Count() > 0)
                        {
                            @foreach (var tempList in lists)
                            {
                                <li class="mt-2">
                                    <NavLink href='@string.Format("checklist/{0}", @tempList.Id)'>
                                        @tempList.Nombre
                                    </NavLink>
                                </li>

                            }
                        }
                    </ul>
                </div>
                <a class="btn btn-outline-primary" href='@string.Format("checklist/create")' id="a_LC2">+</a>
            </div>
        </div>
        <div class="col">
            <p>
                <b>Nombre: </b> @list.Nombre
                <span style="color:dimgray">&emsp;&emsp;Tipo: </span> @list.Tipo
                <span style="color:dimgray">&emsp;&emsp;Id: </span> @list.Id
                @if (@list.NombreImagen != null)
                {
                <p>@list.NombreImagen</p>
                @*<img src="@ImagePath" />*@
            }
                </p>
                <p><span style="color:dimgray">Descripcion: </span> @list.Descripcion</p>
            </div>
    </div>
    <br />
}

<LoadImageComponent @bind-list="@list"/>