@page "/checklist/{id:int}"
@inherits SingleCheckListBase
@attribute [Authorize]
<link href="css/Checklist.css" rel="stylesheet" />

<h3 >Plantillas de listas de chequeo</h3>
<hr />
@if (list == null)
{
    <p><em>Cargando lista de chequeo.</em></p>
}
else
{
    <div class="row">
        <div class="col-lg-3 mb-4" >
            <div class="container" >
                <h6>Listas de chequeo: <a class="btn btn-outline-primary" href='@string.Format("checklist/create")' id="a_LC2" data-toggle="tooltip" title="Crear Lista de chequeo">+</a></h6>
                <div>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            @if (lists != null && lists.Count() > 0)
                            {
                                @foreach (var tempList in lists)
                                {
                                    <li class="mt-2">
                                        <NavLink href='@string.Format("checklist/{0}", @tempList.Id)' class="nav-link" id="a_LC4">
                                            •  @tempList.Nombre
                                        </NavLink>
                                    </li>
                                }
                            }
                         </li>
                     </ul>
                </div>
                
            </div>
        </div>
        <div class="col" >
            <div class="container" id="contAll_LC">
                <div id="def_LC">
                    <p>
                        <div class="input-group row">
                            <label for="checklistName" class="col-sm-2 col-form-label"><b>Nombre:</b></label>
                            <div class="col-sm-9">
                                <input class="form-control" type="text" id="checklistName" name="checklistName" @bind-value="list.Nombre" @onfocusout="Update" />
                            </div>
                            <div class="col-sm-1">

                                <button type="button" class="none" data-toggle="dropdown">
                                    <img src="@list.ImagenDescriptiva" width="50" height="50" data-toggle="tooltip" title="Cambiar imagen" /><span class="caret"></span>
                                </button>

                                <ul class="dropdown-menu customLoadImage" role="menu">
                                    <li><LoadImageComponent @bind-list="list" update="update" /></li>
                                </ul>
                            </div>
                        </div>
                        <br />
                        <div class="input-group row">
                            <label for="checklistDescription" class="col-sm-2 col-form-label"><span style="color:black">Descripción: </span></label>
                            <div class="col-sm-10">
                                <textarea class="form-control" type="text" id="checklistDescription" name="checklistDescription" rows="2" @bind="list.Descripcion" @onfocusout="Update" />
                            </div>
                        </div>
                        <br />
                        <div class="input-group row">
                            <label for="checklistType" class="col-sm-2 col-form-label"><span style="color:black">Tipo: </span></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="checklistType" @bind="list.Tipo" @onfocusout="Update">
                                    <option value="Colocación equipo">Colocación equipo</option>
                                    <option value="Retiro equipo">Retiro equipo</option>
                                    <option value="Paciente en origen">Paciente en origen</option>
                                    <option value="Paciente en destino">Paciente en destino</option>
                                    <option value="Paciente en traslado">Paciente en traslado</option>
                                </select>
                            </div>
                            <label for="checklistOrder" class="col-sm-1 col-form-label"><span style="color:black">Orden: </span></label>
                            <div class="col-sm-2">
                                <input class="form-control" type="number" id="checklistOrder" name="checklistOrder" @bind-value="list.Orden" @onfocusout="Update" />
                            </div>
                            <label for="checklistId" class="col-sm-1 col-form-label"><span style="color:black">Id: </span></label>
                            <span class="col-sm-2">
                                <input class="form-control" type="number" id="checklistId" name="checklistId" disabled="disabled" @bind-value="@list.Id" />
                            </span>
                        </div>


                    </p>
                    </div>
                    <br />
                    <br />
                    <div id="Body_LC">
                        @if (items == null)
                        {
                            <p>Cargando items.</p>
                        }
                        else
                        {
                            if (items.Count() == 0)
                            {
                                <p>No se ha creado ningún item para esta lista de chequeo. Presione el botón de crear item para agregarle un item.</p>
                            }
                            else
                            {

                                <table class="table table-hover">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemInList in items)
                                        {
                                            <tr>
                                                <td class="align-middle">
                                                    <button type="button" class="btn btn-default " data-toggle="dropdown">
                                                        <img src="@itemInList.ImagenDescriptiva" width="50" height="50" data-toggle="tooltip" title="Cambiar imagen" /><span class="caret"></span>
                                                    </button>
                                             
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><LoadImageComponent  @bind-item="itemsList[getItemIndex(itemInList)]" update="update" /></li>
                                                    </ul>
                                                </td>
                                                <th scope="row" class="align-middle"> @itemInList.Nombre</th>
                                                <td class="align-middle"> @itemInList.Descripcion </td>
                                                <td class="align-middle">Temp idItem = @itemInList.Id</td>
                                                @if (itemInList.IDSuperItem != null)
                                                {
                                                    <td>Temp idSuperItem = @itemInList.IDSuperItem</td>
                                                }
                                                <td class="align-middle">
                                                    @* <button type="button" class="btn btn-primary"  id="Menu_LC" @onclick="() => CreateSubItem(itemInList.Id)"></button>*@
                                                    <button type="button" class="btn btn-default " data-toggle="dropdown">
                                                        ⋮<span class="caret"></span>
                                                        <span class="sr-only">Desplegar menú</span>
                                                    </button>

                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><button class="dropdown-item" @onclick="() => CreateSubItem(itemInList.Id)">Agregar Subítem</button></li>
                                                        @*<li><button type="button" id="Menu_LC">Agregar Imagen</button></li>*@
                                                    </ul>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }

                        }
                        <hr />
                        @if (createItem == false)
                        {
                            <button class="btn btn-primary" @onclick="StartNewItemCreation" id="BP_LC6">+</button><a>Crear ítem</a>
                        }
                        else
                        {
                            <div class="container">
                                <br />
                                <EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
                                    <label for="name">Nombre:<span style=" color:red">*&nbsp;&nbsp;&nbsp;&nbsp;</span></label>
                                    <InputText id="name" @bind-Value="tempItem.Nombre" class="form-control" />
                                    <ValidationMessage For="@(() => tempItem.Nombre)" />
                                    <br />
                                    <label for="description">Descripción: </label>
                                    <InputTextArea id="description" @bind-Value="tempItem.Descripcion" class="form-control" />
                                    <br />
                                    <div class="form-row">
                                        <div class="col-6">
                                            <label for="order">Orden:<span style=" color:red">*</span></label>
                                            <InputNumber id="order" @bind-Value="tempItem.Orden" class="form-control" />
                                        </div>
                                    </div>
                                    <br />
                                    <label>Imagen:</label>
                                    <div class="form-row">
                                        <div class="col-6">
                                            <LoadImageComponent @bind-item="tempItem" />
                                        </div>
                                        <div class="col-6">
                                            <img src="@tempItem.ImagenDescriptiva" width="50" height="50" />
                                        </div>
                                    </div>
                                    <br />
                                    <p style="color:red">* Campo requerido</p>

                                    <div align="center">
                                        <button type="submit" class="btn btn-primary" disabled="@formInvalid" id="BP_LC0">Guardar Item</button>
                                        <a class="btn btn-outline-secondary" @onclick="Dispose" id="a_LC3">Cancelar</a>
                                    </div>
                                </EditForm>
                            </div>
                            <br />
                        }
                    </div>
                </div>
            </div>
    </div>
    <br />
}