@page "/incidents/{incidentcod}/{plantillaid:int}"
@inherits SingleCheckListIncidentBase
@using PRIME_UCR.Components.CheckLists
@attribute [Authorize]
<link href="css/Checklist.css" rel="stylesheet" />

<h3>Listas de chequeo</h3>
<hr />
@if (Getincident())
{
    @if (list == null)
    {
        <p><em>Cargando lista de chequeo.</em></p>
    }
    else
    {
        <div class="row">
            <div class="col-lg-3 mb-4">
                <CheckListMenuIncident incidentcod=@incidentcod />
            </div>
            <div class="col">
                <div class="container" id="contAll_LC" style="background:white;">
                    <h5>Definición de la lista de chequeo</h5>
                    <div id="def_LC">
                        <p>
                            <div class="input-group row">
                                <label for="checklistName" class="col-sm-2 col-form-label"><b>Nombre:</b></label>
                                <div class="col-sm-9">
                        <p>@list.Nombre</p>
                    </div>
                    <div class="col-sm-1">
                        @*
                             User Story PIG01IIC20-267 LG - Agregar imagen descriptiva a lista de chequeo
                            Calls a component to upload images into the checklist
                            <LoadImageComponent @bind-list="@list" />*@
                        <img src="@list.ImagenDescriptiva" width="50" height="50" />
                    </div>
                </div>
                <br />
                <div class="input-group row">
                    <label for="checklistDescription" class="col-sm-2 col-form-label"><span style="color:black">Descripción: </span></label>
                    <div class="col-sm-10">
                        <p>@list.Descripcion </p>
                    </div>
                </div>
                <br />
                <div class="input-group row">
                    <label for="checklistType" class="col-sm-2 col-form-label"><span style="color:black">Tipo: </span></label>
                    <div class="col-sm-4">
                        <p>@list.Tipo</p>
                    </div>
                    <label for="checklistOrder" class="col-sm-1 col-form-label"><span style="color:black">Orden: </span></label>
                    <div class="col-sm-2">
                        <p>@list.Orden</p>
                    </div>
                    <label for="checklistId" class="col-sm-1 col-form-label"><span style="color:black">Id: </span></label>
                    <span class="col-sm-2">
                        <p> @list.Id </p>
                    </span>
                </div>
                </p>
            </div>
            <p>
                Lista Completada: @stateInstanceList <br /> @*to change*@
                <br />
                Fecha-hora de inicio: @itemsInstance.First().FechaHoraInicio;
                <br />
                Fecha-hora de finalizada:  xx/xx/xx __:__:__ xm <br />
                <br />
                Duración: xx días xx horas xx minutos
            </p>
            <h5> Items de la lista de chequeo</h5>
            <div id="Body_LC">
                @if (items == null)
                {
                    <p>Cargando items.</p>
                }
                else
                {
                    if (items.Count() == 0)
                    {
                        <p>No se ha creado ningún item para esta lista de chequeo en este incidente.</p>
                    }
                    else
                    {
                        @for (int tempIndex = 0; tempIndex < orderedList.Count(); tempIndex++)
                        {
                            PRIME_UCR.Domain.Models.CheckLists.InstanciaItem itemInList = orderedList[tempIndex];
                            string style = orderedListLevel[tempIndex] * 2 + "em";
                            itemIndex = GetItemIndex(itemInList);
                            <table class="table">
                                @* Contains information about every item in this checklist *@
                                <tbody>
                                    <tr>
                                        <td rowspan="2" class="align-middle" style="padding-left: @style; width: 10px;">
                                        <p style="margin:auto">⁞⁞</p>
                                        </td>
                                        <td rowspan="2" class="align-middle" style="width: 100px;">
                                            @* Displys the image of the item *@

                                            <div style="width: 100%; display:inline-flex;">
                                                @if (validateEdit == true)
                                                {
                                                    <div class="custom-control custom-checkbox" style="margin:auto">
                                                        <input type="checkbox" class="custom-control-input" disabled="@HasSubItems(itemInList)" id="customCheck @itemInList.PlantillaId" checked="@itemInList.Completado" @onchange="((ChangeEventArgs c) => CheckItem(itemInList, c))" />
                                                        <label class="custom-control-label" for="customCheck @itemInList.PlantillaId"></label>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="custom-control custom-checkbox" style="margin:auto">
                                                        <input type="checkbox" class="custom-control-input" disabled="@true" id="customCheck @itemInList.PlantillaId" checked="@itemInList.Completado" />
                                                        <label class="custom-control-label" for="customCheck @itemInList.PlantillaId"></label>
                                                    </div>
                                                }
                                                <p>&nbsp;</p> @* to change*@
                                                <button type="button" class="none" data-toggle="dropdown" id="BN_LC">
                                                    <img src="@items[itemIndex].ImagenDescriptiva" width="50" height="50" data-toggle="tooltip" title="Cambiar imagen" />
                                                </button>
                                            </div>
                                        </td>

                                        <th class="align-middle" data-toggle="tooltip" title="@items[itemIndex].Nombre">@truncate(@items[itemIndex].Nombre, orderedListLevel[itemIndex], 1)</th>
                                        @if (!HasSubItems(itemInList))
                                        {
                                    <td rowspan="2" class="align-middle" align="right" style="width: 54px">
                                        <MultimediaContentComponent MultimediaContent="@MyMultimediaContent[tempIndex]" OnFileUpload="(MultimediaContent mc) => OnFileUpload(itemInList, mc)"></MultimediaContentComponent>
                                    </td>
                                        }
                                    </tr>
                                    <tr>
                                        <td class="align-middle" title="@items[itemIndex].Descripcion">@truncate(@items[itemIndex].Descripcion, orderedListLevel[itemIndex], 2)</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    }

                }
            </div>
        </div>
        </div>
        </div>
        <br />
        <MatThemeProvider Theme="@AddButtonTheme">
            <MatFAB Icon="@MatIconNames.Arrow_back" Class="app-fab--absolute" OnClick="@(_ => Redirect())" data-toggle="tooltip" title="Regresar al incidente"></MatFAB>
        </MatThemeProvider>
    }
}