@page "/checklist/{id:int}"
@inherits SingleCheckListBase
@* @layout CheckListLayout *@
@attribute [Authorize]

<h1 >Plantillas de listas de chequeo</h1>
<hr />
@if (list == null)
{
    <p><em>Cargando lista de chequeo.</em></p>
}
else
{
    <div class="row">
        <div class="col-lg-3 mb-4">
            <h6>Listas de chequeo Exixtentes</h6> @* Mejorar diseño de interfaz*@
            <div>
                <ul class="ml-4" type="square">   @*ver lisatas de chequeo ya creadas*@
                    @if (lists != null && lists.Count() > 0)
                    {
                        @foreach (var tempList in lists)
                        {
                            <li class="mt-2">
                                <NavLink href='@string.Format("checklist/{0}", @tempList.Id)'>
                                    @tempList.Nombre
                                </NavLink>
                            </li>

                        }
                    }
                </ul>
            </div>
        </div>
        <div class="col">
            <p>
                <b>Nombre: </b> @list.Nombre
                <span style="color:dimgray">&emsp;&emsp;Tipo: </span> @list.Tipo
                <span style="color:dimgray">&emsp;&emsp;Id: </span> @list.Id
                @if (@list.NombreImagen != null)
                {
                    <img src="@list.NombreImagen" width="50" height="50"/>
                }
            </p>
                <p><span style="color:dimgray">Descripcion: </span> @list.Descripcion</p>
            </div>
    </div>
    <br />
}

@* User Story PIG01IIC20-267 LG - Agregar imagen descriptiva a lista de chequeo
Calls a component to upload images into the checklist*@
<LoadImageComponent @bind-list="@list"/>