@attribute [Authorize]
@using BlazorTable
@using PRIME_UCR.Domain.Models.MedicalRecords
@implements IDisposable
@inject IMedicalBackgroundService MedicalBackgroundService
@inject IAlergyService AllergyService
@inject IChronicConditionService ChronicConditionService

<h2>Antecedentes y Alergias</h2>
<div class="jumbotron white-panel">

    <Table TableItem="Antecedentes" Items="Antecedentes" PageSize="3" class="table table-bordered">
        <Column TableItem="Antecedentes" Title="Antecedentes del paciente" Field="@(x => x.ListaAntecedentes.NombreAntecedente)" Width="18%" />
        <Column TableItem="Antecedentes" Title="Fecha de creación" Field="@(x => x.FechaCreacion)" Width="18%" />
        <EmptyDataTemplate>
            <div class="text-center">
                No se encontraron antecedentes registrados.
            </div>
        </EmptyDataTemplate>

        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
    <div>
        @if (backgroundAlreadyAdded)
        {
            <StatusMessage Message="Este antecedente ya fue agregado" Class="warning" />
        }
        <EditForm EditContext="_contAnte" OnValidSubmit="SaveMedicalBackground">
            <label>Antecedentes</label>
            <RadzenDropDown Multiple="true" Data="ListaAntecedentes"
                            TextProperty="NombreAntecedente"
                            ValueProperty="Id"
                            @bind-Value="@RegisteredBackgrounds"
                            Placeholder="Seleccione antecedentes"
                            class="form-control" />
            <div class="mt-2">
                @if (!_saveBackgroundButtonEnabled)
                {
                    <button disabled type="submit" class="btn btn-primary">Guardar</button>
                    <button disabled class="btn btn-outline-secondary">Descartar</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button role="button" class="btn btn-outline-secondary" @onclick="LoadRecordBackgrounds" @onclick:preventDefault>Descartar</button>}
            </div>
        </EditForm>

    </div>
</div>

<br>
<br>
<div class="jumbotron white-panel">
    <Table TableItem="Alergias" Items="Alergias" PageSize="3" class="table table-bordered">
        <Column TableItem="Alergias" Title="Alergias del paciente" Field="@(x => x.ListaAlergia.NombreAlergia)" Width="18%" />
        <Column TableItem="Alergias" Title="Fecha de creación" Field="@(x => x.FechaCreacion)" Width="18%" />
        <EmptyDataTemplate>
            <div class="text-center">
                No se encontraron alergias registradas.
            </div>
        </EmptyDataTemplate>

        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
    <div>
        @if (allergyAlreadyAdded)
        {
            <StatusMessage Message="Esta alergia ya fue agregada" Class="warning" />
        }
        @if (showAllergy == true)
        {
            <EditForm EditContext="_contAle">
                <DropDownMenu T="ListaAlergia" Data="ListaAlergia"
                              Label="Alergias"
                              TextProperty="NombreAlergia"
                              DefaultText="Seleccione una alergia"
                              Required="false"
                              Disabled="false"
                              @bind-Value="@AlergiaPrueba" />
            </EditForm>
            <button type="submit" class="btn btn-primary mt-4 mb-4" @onclick="insertAllergy">Guardar</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary mt-4 mb-4" @onclick="showAllergyOptions">Agregar alergia</button>
        }

    </div>
</div>
<div class="jumbotron white-panel">
    <Table TableItem="PadecimientosCronicos" Items="PadecimientosCronicos" PageSize="3" class="table table-bordered">
        <Column TableItem="PadecimientosCronicos" Title="Padecimientos Cronicos del paciente" Field="@(x => x.ListaPadecimiento.NombrePadecimiento)" Width="18%" />
        <Column TableItem="PadecimientosCronicos" Title="Fecha de creación" Field="@(x => x.FechaCreacion)" Width="18%" />
        <EmptyDataTemplate>
            <div class="text-center">
                No se encontraron Padecimientos registradas.
            </div>
        </EmptyDataTemplate>

        <Pager ShowPageNumber="true" ShowTotalCount="true" />
    </Table>
    <div>
        @if (ChronicConditionAlreadyAdded)
        {
            <StatusMessage Message="Este Padecimiento ya fue agregado" Class="warning" />
        }
        @if (showChronicCondition == true)
        {
            <EditForm EditContext="_contCond">
                <DropDownMenu T="ListaPadecimiento" Data="ListaPadecimiento"
                              Label="Padecimientos"
                              TextProperty="NombrePadecimiento"
                              DefaultText="Seleccione un Padecimiento"
                              Required="false"
                              Disabled="false"
                              @bind-Value="@PadecimientoPrueba" />
            </EditForm>
            <button type="submit" class="btn btn-primary mt-4 mb-4" @onclick="insertChronicCondition">Guardar</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary mt-4 mb-4" @onclick="showChronicConditionOptions">Agregar Padecimiento</button>
        }

    </div>
</div>