@using PRIME_UCR.Components.Controls

<Loading IsLoading="@IsLoading()">
    <EditForm EditContext="_context" OnValidSubmit="Submit">
        <FluentValidationValidator />
        <DropDownMenu Data="@_provinces" Label="Provincia" Value="@Value.Province" TextProperty="Nombre"
                      DefaultText="Seleccione una provincia"
                      ValueExpression="() => Value.Province"
                      ValueChanged="@((Provincia p) => OnChangeProvince(p))"/>
        <DropDownMenu Data="@_cantons" Label="Cantón" Value="@Value.Canton" TextProperty="Nombre"
                      DefaultText="Seleccione un cantón"
                      ValueExpression="() => Value.Canton"
                      ValueChanged="@((Canton c) => OnChangeCanton(c))"/>
        <DropDownMenu Data="@_districts" Label="Distrito" Value="@Value.District" TextProperty="Nombre"
                      DefaultText="Seleccione un distrito"
                      ValueExpression="() => Value.District"
                      ValueChanged="@((Distrito d) => OnChangeDistrict(d))"/>
       <TextBox
           Label="Dirección Exacta"
           Value="@Value.Address"
           ValueExpression="() => Value.Address"
           ValueChanged="(string a) => OnChangeAddress(a)"/>
       <div class="form-row">
           <div class="col">
               <NumberInput
                   Label="Longitud"
                   Value="@Value.Longitude"
                   ValueExpression="@(() => Value.Longitude)"
                   ValueChanged="@((double? l) => OnChangeLongitude(l))"/>
           </div>
            <div class="col">
               <NumberInput
                   Label="Longitud"
                   Value="@Value.Latitude"
                   ValueExpression="@(() => Value.Latitude)"
                   ValueChanged="@((double? l) => OnChangeLatitude(l))"/>
            </div>
        </div>
        <div class="text-center">
            @if (!_saveButtonEnabled)
            {
                <button disabled class="btn btn-secondary">Descartar</button>
                <button disabled type="submit" class="btn btn-primary">Guardar</button>
            }
            else
            {
                <button @onclick:preventDefault
                    @onclick="@Discard" class="btn btn-secondary">Descartar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            }
        </div>
    </EditForm>
</Loading>