@using PRIME_UCR.Components.Controls

<Loading IsLoading="@_isLoading">
    <EditForm EditContext="_context" OnValidSubmit="Submit">
        <FluentValidationValidator />
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <DropDownMenu Data="@_provinces" Label="Provincia" Value="@Value.Province" TextProperty="Nombre"
                              DefaultText="Seleccione una provincia"
                              ValueExpression="() => Value.Province"
                              ValueChanged="@((Provincia p) => OnChangeProvince(p))"/>
                <DropDownMenu Data="@_cantons" Label="Cantón" Value="@Value.Canton" TextProperty="Nombre"
                              DefaultText="Seleccione un cantón"
                              ValueExpression="() => Value.Canton"
                              ValueChanged="@((Canton c) => OnChangeCanton(c))"/>
                <DropDownMenu Data="@_districts" Label="Distrito"
                              TextProperty="Nombre"
                              DefaultText="Seleccione un distrito"
                              @bind-Value="Value.District" />
            </div>
        </div>
       <div class="row">
           <div class="col-xl-4 col-lg-6">
               <NumberInput Label="Longitud" @bind-Value="@Value.Longitude" />
               <NumberInput Label="Longitud" @bind-Value="@Value.Latitude" />
           </div>
       </div>
       <div class="row">
           <div class="col-xl-6 col-lg-8">
               <TextBox Label="Dirección Exacta" @bind-Value="@Value.Address" />
           </div>
       </div>
       <div class="mt-2">
            @if (!_saveButtonEnabled)
            {
                <button disabled type="submit" class="btn btn-primary">Guardar</button>
                <button disabled class="btn btn-outline-secondary">Descartar</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button role="button" @onclick:preventDefault @onclick="@Discard" class="btn btn-outline-secondary">Descartar</button>
            }
       </div>
    </EditForm>
</Loading>