@using PRIME_UCR.Components.Controls
@inherits InputBase<HouseholdModel>

<Loading IsLoading="@IsLoading()">
    <EditForm Model="Value">
        <DropDownMenu Data="@_provinces" Label="Provincia" Value="@Value.Province" TextProperty="Nombre"
                      DefaultText="Seleccione una provincia"
                      ValueExpression="() => Value.Province"
                      ValueChanged="@((Provincia p) => OnChangeProvince(p))"/>
        <DropDownMenu Data="@_cantons" Label="Cantón" Value="@Value.Canton" TextProperty="Nombre"
                      DefaultText="Seleccione un cantón"
                      ValueExpression="() => Value.Canton"
                      ValueChanged="@((Canton c) => OnChangeCanton(c))"/>
        <DropDownMenu Data="@_districts" Label="Distrito" Value="@Value.District" TextProperty="Nombre"
                      DefaultText="Seleccione un distrito"
                      ValueExpression="() => Value.District"
                      ValueChanged="@((Distrito d) => OnChangeDistrict(d))"/>
        <div class="form-group">
            <label>Dirección exacta</label>
            <InputText Value="@Value.Address"  
                       ValueExpression ="() => Value.Address"
                       @oninput="@(async args => { Value.Address = (string) args.Value; await Callback(); })"class="form-control"/>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label>Longitud</label>
                    <InputNumber Value="@Value.Longitude" 
                                 ValueExpression="() => Value.Longitude"
                                 @oninput="@(async (args) => { Value.Longitude = Double.Parse((string) args.Value); await Callback(); })"class="form-control"/>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Latitud</label>
                    <InputNumber Value="@Value.Latitude" 
                                 ValueExpression=" () => Value.Latitude"
                                 @oninput="@(async (args) => { Value.Latitude = Double.Parse((string) args.Value); await Callback(); })"class="form-control"/>
                </div>
            </div>
        </div>
    </EditForm>
</Loading>