@using PRIME_UCR.Components.Controls
@using PRIME_UCR.Domain.Models.UserAdministration
@using PRIME_UCR.Components.Incidents.IncidentDetails.Tabs
@using Microsoft.EntityFrameworkCore
@using System.Linq;

<Loading IsLoading="_values == null">
    <DropDownMenu Data="_values" T="CentroMedico" Label="Centro médico" Value="@_selectedMedicalCenter" TextProperty="Nombre"
                  ValueChanged="@((CentroMedico tab) => OnChangeMedicalCenter(tab))" />

    @if (_selectedMedicalCenter != null)
    {
<label>Número de cama</label>
                    <input type="number" value="@_bedNumber" @oninput="@(async (args) => {
                                                             int.TryParse((string) args.Value, out _bedNumber);
                                                             await Callback();
                                                            })" class="form-control" min="0" /><br />

                                        <DropDownMenu Data="_doctors" T="Médico" Label="@doctorForLabel" Value="@_selectedDoctor" TextProperty="Nombre"
                                                      ValueChanged="@((Médico tab) => OnChangeDoctor(tab))" />}
</Loading>
