@using PRIME_UCR.Components.MedicalRecords.Tabs

<div class="container">
    @if (Active == DetailsTab.Info)
    {
        <GeneralInfoTab record="@Expediente"
                        LastAppointment="@UltimaCita" />
    }
    else if (Active == DetailsTab.Appointments)
    {
        @*<ListItem Title="Paciente" Text="@get_patient_name()" />
            <ListItem Title="Cédula del paciente" Text="@get_patient_identification()" />*@
        <hr />
        <Appointments medical_record="@MedicalRecord" />
    }
    else if (Active == DetailsTab.MedicalBackgroundTab)
    {
        @*<ListItem Title="Paciente" Text="@get_patient_name()" />
        <ListItem Title="Cédula del paciente" Text="@get_patient_identification()" />*@
        <hr />
        <MedicalBackgroundTab Antecedentes="@Antecedentes"
                              Alergias="@Alergias"
                              PadecimientosCronicos="@PadecimientosCronicos"
                              ListaAntecedentes="@ListaAntecedentes"
                              ListaAlergia="@ListaAlergia"
                              ListaPadecimiento="@ListaPadecimiento"
                              idExpediente="@Expediente.IdExpediente" />
    }
    else
    {
        <h4 class="text-danger">Not found</h4>
    }
</div>
